In [4]:
import pandas as pd

dframe = pd.DataFrame.from_csv('./csv_files/gamma_0.85_epsilon_0.6_ep_decay_0.97number_of_times10.csv')
dframe.head()

        Start Location Desination  Deadline Successful?
Trial
Trial 0         (4, 1)     (7, 2)        20          No
Trial 1         (8, 4)     (1, 1)        50         Yes
Trial 2         (1, 3)     (5, 6)        35          No
Trial 3         (3, 2)     (5, 6)        30          No
Trial 4         (3, 4)     (8, 5)        30          No

In [8]:
total_iterations = len(dframe)
success_rate = len(dframe[dframe['Successful?'] == 'Yes'])

print success_rate / float(total_iterations)

0.37